
#################
## Misc
#################
node_modules/*
npm-debug.log
coverage
*.ts
!*.d.ts
typings
typings.json
test

#################
## IntelliJ
#################
.idea
.project
.settings
.idea/*
*.iml